storage "etcd" {
  address  = "http://etcd0:2379"
  etcd_api = "v3"
  ha_enabled = "true"
}

listener "tcp" {
  address = "0.0.0.0:8200"
  cluster_address  = "0.0.0.0:8201"
  tls_disable = "true"
}

api_addr =  "http://vault-server-1:8200"
cluster_addr = "http://vault-server-1:8201"

default_lease_ttl = "168h"
max_lease_ttl = "720h"